.root {
    flex-grow: 1;
    margin-top: 64px;
}

.top{
    padding: 15vh 0 30vh 5vw;
    /*background: linear-gradient(180deg, rgba(20,165,189,1) 0%, rgba(61,198,230,1) 45%, rgba(12,194,231,1) 75%, rgba(245,245,245,1) 100%);*/
    background-image: url('../img/landing_bg.jpg');
    background-repeat: no-repeat; 
    background-color:var(--primary-background-color);
}

.titles{
    margin-bottom: 10vh;
}

.title {
    color: white;
    margin-left: 7vw;
}

.subtitle{
    margin-left: 15vw;
    font-size: 1.2rem;
}

.buttons{
    margin-left: 20vw;
}

.button{
    color:white;
    font-size: 1.2em;
    padding: 1em 2em;
    border-radius: 2px;
}