<h1>Hello from inside an html file,</h1>
<nav>
    <ul>
        <li>
            <a>Main Page</a>
        </li>
        <li>
            <a>Menu</a>
        </li>
        <li>
            <a>Exit</a>
        </li>
        <li>banana</li>
        <li>apple</li>
        <li>pear</li>
    </ul>
</nav>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore rerum adipisci ratione aperiam ipsam eligendi
    reiciendis consequatur suscipit? Quod esse dolorem a. Nemo velit aliquam sint modi sit ad natus?</p>